<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="/assets/img/favicon.png" />
    <title>重新導向Cotpear...</title>
</head>
<body>
    <!--
    由於《Cotpear 隱私權與條款》網址變更，因此此網站是做為重新導向至新網址功能之用。不重新導向修訂第四版以上的頁面。
    如有任何問題，請將郵件寄到 customer@cotpear.com 。謝謝您對 Cotpear 長久以來的支持！
    -->
    <div class="wrapper">{{ content }}</div>
</body>
</html>